@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: black;
    color: white;
    display: flex;
    padding: 30px;
}

.header-title {
    display: flex;
    align-items: center;
}

.header-title span:first-child{
    color: yellow;
    margin-right: 5px;
}

.header-title span:last-child{
    background: yellow;
    color: black;
    padding: 2px 5px;
    border-radius: 25%;
    max-width: max-content;
    margin-left: 10px;
    font-size: 20px;
    padding: 3px 10px;
}


.search-bar {
    flex-grow: 1;
    display: flex;
    align-items: center;
    margin-left: 80px;
}

.search-bar-input {
    min-width: 400px;
    font-size: 18px;
    padding-left: 8px;
    height: 100%;
}

.search-bar-icon {
    background: yellow;
    padding: 2px 5px;
    display: flex;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}

.header-basket {
    display: flex;
    align-items: end;
    font-size: 20px;
    font-weight: 500;
    gap: 5px;
}

.categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px;
}

.categories-title {
    font-size: 35px;

}